header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    
li {
    color:black &hover{transition: all 0.8s ease;
        transform: scale(1.2, 1.2);
          }
}
    h1 {
        text-align: center;
        font-size: 1.5rem;

        
    }
}